.confirmar {
  width: 100%;
}

.confirmar__topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 0 24px;

  h2 {
    margin: 0;
  }
}

.confirmar__mensagem {
  margin: 0;
}
