.detalhe-despesa {
  width: 100%;
}

.detalhe-despesa__topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 0 24px;

  h2 {
    margin: 0;
  }
}

.detalhe-despesa__navegacao {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12.5px;
  color: #9397ab;
}
